@import '/src/variables';

.modalHeader {
    height: 30rem;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.heading {
    margin: 0;
    padding: 10px;
    color: #2c3e50;
    font-weight: bold;
    text-align: center;
    margin-top: 20rem;
    font-size: 3rem;
}

.modalContent {
    padding: 10px;
    font-size: 1.5rem;
    color: #2c3e50;
    margin: 0rem 4rem;

    .password {
        width: 100%;
        height: 5rem;
        font-size: 2rem;
        margin: 1rem 0rem 0rem 0rem;
    }

    .password:focus {
        outline: none;
    }

    .modalText {
        width: 100%;
        height: 4rem;
        font-size: 2rem;
        margin: 1rem 0rem 0rem 0rem;
    }
}

.modalActions {
    position: absolute;
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;
}

.actionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.closeBtn {
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: #2c3e50;
    background: white;
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    align-self: flex-end;
    margin-top: -7px;
    margin-right: -7px;
}

.closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px, 4px);
}

.deleteBtn {
    width: 100%;
    margin-bottom: 6rem;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 4rem;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background: $primary-color;
    transition: all 0.25s ease;
    font-size: 2rem;
}

.deleteBtn:hover {
    box-shadow: 0 10px 20px -10px $primary-color;
    transform: translateY(-5px);
    background: transparent;
    color: $primary-color;
}

.cancelBtn {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #2c3e50;
    background: #fcfcfc;
    transition: all 0.25s ease;
}

.cancelBtn:hover {
    box-shadow: none;
    transform: none;
    background: whitesmoke;
}

.error {
    text-align: left;
    color: red;
    font-weight: 700;
    height: 2rem;
    margin-bottom: 3rem;
}

.receiverInfo {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;

    .label {
        width: 12rem;
        height: 3.5rem;
        font-size: 1.8rem;
    }

    .value {
        width: 15rem;
        margin-left: 1rem;
        font-size: 1.5rem;
    }
}

.sendAmount {
    word-break: break-all;
    width: 90%;
    height: 3.5rem;
    font-size: 1.8rem;
    margin: 0rem 2rem;
    height: fit-content;
}

.cardPrice {
    margin: 2rem 0rem;
}

.cardPriceItem {
    margin-right: 1rem;
    height: 3rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.cardPriceItem div {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 0.5rem;
    border-radius: 1rem;
}

.message {
    word-break: break-all;
    width: 90%;
    height: 3.5rem;
    font-size: 1.8rem;
    margin: 0rem 2rem;
    height: 8rem;
    overflow: overlay;
}

.message::-webkit-scrollbar {
    display: none;
}

.otpInput div {
    justify-content: center;
    font-size: 3rem;
}

.sendCode {
    display: flex;
    justify-content: center;

    .sendCodeText {
        font-size: 1.5rem;
        margin-right: 1rem;
    }

    .sendCodeBtn {
        border: none;
        text-decoration: underline;
        background-color: transparent;
        color: #2c3e50;
    }
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio]+div {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked+div {
    outline: 2px solid #f00;
}