<form action="" method="post">
    <label for="username">Tài khoản</label>
    <input id="username" name="username" type="text">
    <label for="username">Mật khẩu</label>
    <input id="password" name="password" type="password">

    <button type="submit">Đăng ký</button>
</form>