@import '/src/variables';

.darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 100rem;
}

.modal {
    width: 100%;
    height: 100%;
    background: white;
    color: white;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
    height: 10rem;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.heading {
    margin: 0;
    padding: 10px;
    color: #2c3e50;
    font-weight: bold;
    text-align: center;
    margin-top: 4rem;
    font-size: 3rem;
}

.modalContent {
    padding: 10px;
    font-size: 1.5rem;
    color: #2c3e50;
    margin: 0rem 4rem;

    .password {
        width: 100%;
        height: 5rem;
        font-size: 2rem;
        margin: 3rem 0rem 0rem 0rem;
    }

    .password:focus {
        outline: none;
    }

    .modalText {
        width: 100%;
        height: 5rem;
        font-size: 2rem;
    }

    div {
        text-align: left;
    }
}

.modalActions {
    position: absolute;
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;
}

.actionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.closeBtn {
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: #2c3e50;
    background: white;
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    position: absolute;
    right: 0;
    top: 0;
    align-self: flex-end;
    margin-top: -7px;
    margin-right: -7px;
}

.closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px, 4px);
}

.deleteBtn {
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 4rem;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background: $primary-color;
    transition: all 0.25s ease;
    font-size: 2rem;
}

.deleteBtn:hover {
    box-shadow: 0 10px 20px -10px $primary-color;
    transform: translateY(-5px);
    background: transparent;
    color: $primary-color;
}

.cancelBtn {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #2c3e50;
    background: #fcfcfc;
    transition: all 0.25s ease;
}

.cancelBtn:hover {
    box-shadow: none;
    transform: none;
    background: whitesmoke;
}

.error {
    text-align: left;
    color: red;
    font-weight: 700;
    height: 2rem;
    margin-bottom: 3rem;
}

.modalBody {
    margin-top: 1rem;
    margin: 2rem 1rem;
}

.message {
    text-align: center !important;
    margin-top: 50%;
}