@import '/src/variables';

.content {
    margin-top: 3rem;
    background-color: $background-color;
    padding: 3rem;
    margin-right: 8rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: $primary-color;
}

.avatarArea {
    margin-top: 2rem;
}

.avatar {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    border: 1px solid $primary-color;
    background-image: url('../../../../../public/images/avatar.png');
    background-size: cover;
    background-position: center;
}

.InfoArea {
    margin-top: 2rem;

    .label {
        width: 9rem;
        height: 3.5rem;
    }

    .value {
        width: 15rem;
        text-align: left;
    }

    table {
        width: 100%;
    }

    table tbody tr td {
        padding: 0.5rem;
    }

    table tbody tr td input {
        font-size: 1.5rem;
    }
}

.button {
    border: none;
    background-color: transparent;
    color: blue;
    text-decoration: underline;
}

.input {}

.error {
    color: red;
    display: block;
    height: 1rem;
}