@import '/src/variables';

.wrapper {
    padding: 2rem 0rem;
    background-color: $background-color;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.content {
    width: 85%;
    margin: 0rem auto;
    padding: 3rem 0rem;
}

.title {}

.title span {
    font-size: 2.2rem;
}

.moneyInput {
    width: 100%;
    height: 4rem;
    border: 1px solid $primary-color;
    border-radius: 0.5rem;
    font-size: 2.5rem;
    margin: 2rem 0rem;
}

.submitBtn {
    width: 12rem;
    height: 4rem;
    border-radius: 4rem;
}

.cardType {
    margin: 1rem 0rem;
}

.cardTypeItem {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.cardPrice {
    margin: 2rem 0rem;
}

.cardPriceItem {
    margin-right: 1rem;
    width: 8rem;
    height: 3rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.cardPriceItem div {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 0.5rem;
    border-radius: 1rem;
}

.cardQuantity {
    margin: 2rem 0rem;
}

.diff {
    width: 3rem;
    height: 3rem;
    border: .5px solid $primary-color;
}

.quantity {
    width: 3rem;
    height: 3rem;
    padding: 0.3rem 3rem;
    border: 1px solid $primary-color;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio]+img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked+img {
    outline: 2px solid #f00;
}

[type=radio]+div {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked+div {
    outline: 2px solid #f00;
}

.error {
    text-align: left;
    color: red;
    font-weight: 700;
    height: 2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
}