@import '/src/variables';

.wrapper {
    margin-top: 2rem;

}

.content {}

.balanceCard {
    width: 20rem;
    height: 25rem;
    padding-top: 3rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.4rem;
    background-color: $background-color;
    margin: auto;
}

.balanceCardLogo {
    border: 1px solid $primary-color;
    border-radius: 5px;
    display: flex;
    width: 12rem;
    height: 6rem;
    background-color: $background-color;
    margin: auto;
}

.balanceCardLogo img {
    margin: 1rem;
    width: 10rem;
    filter: invert(65%);
}

.balanceCardText {
    text-align: center;
    width: 20rem;
    margin: auto;
}

.title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 1rem;
}

.balance {
    font-size: 4rem;
    font-weight: bold;
    margin-top: 1rem;
}

.status {
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-right: 1rem;
}