@import '/src/variables';

.tab {
    border: 0px solid $primary-color;
    background-color: transparent;
    padding: 5px 0px 5px 20px;
    margin: 1rem 0rem;
}

.content {
    text-align: left;
}

.logo {
    width: 5rem;
    height: 5rem;
    border: 1px solid $primary-color;
    background-image: url('../../../../../public/images/visa.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.transactionName {
    font-size: 2rem;
    font-weight: bold;
    color: $primary-color;
    text-transform: uppercase;
}

.transactionName:hover {
    text-decoration: underline;
    cursor: default;
}

.transactionDate {
    font-size: 1.5rem;
}

.transactionStatus {
    font-size: 1.5rem;
    font-weight: bold;
}

.price {
    font-size: 2rem;
    font-weight: bold;
}