@import '/src/variables';

.table table {
    border-collapse: collapse;
    background: #fff;
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin-top: 2rem;

    thead {
        tr {
            height: 6rem;
            background-color: #36304a;

            th {
                font-size: 1.5rem;
                color: #fff;
                line-height: 1.2;
                font-weight: unset;
                width: 10rem;
                text-align: left;
                padding-left: 1rem;
            }

            th:first-child {
                width: 9rem;
                padding-left: 3rem;
            }

            th:last-child {
                width: 9rem;
                text-align: right;
                padding-right: 5rem;
            }
        }
    }
}