@import '/src/variables';

.form {
	.form__group {
		+ .form__group {
			margin-top: 1.6rem;
		}

		select,
		input {
			padding: 1rem 2rem;
			font-size: 1.4rem;
			color: black;
		}
	}

	.btnContinue {
		display: block;
		margin: 4rem auto 0 auto;
		width: 35%;
		border: none;
		padding: 1rem 4rem;
		border-radius: 3rem;
		color: white;
		background-color: $primary-color;
	}

	.error {
		color: red;
		font-weight: 700;
	}

	@media (max-width: 767px) {
		.name {
			+ .name {
				margin-top: 1.6rem;
			}
		}
	}
}
