.heading-wrapper h1.heading.heading-primary {
  color: #c59cff;
}

.process-flex-layout-list li.process-flex-layout-item:hover {
  cursor: default;
  transform: scale(0.9);

  background-color: #c59cff;
  color: currentColor;
}

.process-flex-layout-list {
    justify-content: center;
    align-items: center;
}
