@import '/src/variables';

.wrapper {
    height: 94vh;

    .content {
        height: 90%;
        width: 100%;
        max-width: 58rem;
        margin: 0 auto;
        margin-top: 5rem;
        padding: 6rem 4rem;

        .logo img {
            display: block;
            padding-bottom: 4rem;
            margin: 0 auto;
            color: $primary-color;
            filter: invert(65%);
        }

        .form {
            input {
                padding: 1rem 1rem;
                font-size: 1.8rem;

                +input {
                    margin-top: 1.6rem;
                }
            }
        }

        .resetLink {
            display: block;
            margin-top: 0.6rem;
            text-decoration: none;
            font-size: 2rem;
            font-weight: bold;
            color: $primary-color;
        }

        .btnLogin {
            border: none;
            width: 100%;
            padding: 1.2rem 0;
            margin-top: 3rem;
            border-radius: 3rem;
            background-color: $primary-color;
            color: white;
            font-weight: 600;
            width: 90%;
        }

        .btnSignUp {
            display: block;
            border: 2px solid $primary-color;
            width: 100%;
            padding: 0.9rem 0;
            border-radius: 3rem;
            color: $primary-color;
            background-color: white;
            font-weight: 600;
            text-align: center;
            text-decoration: none;

            &:hover {
                background-color: $primary-color;
                color: white;
                opacity: 0.8;
            }
        }

        .line {
            display: block;
            margin-bottom: 2rem;

            p {
                font-size: 15px;
                text-align: center;
                border-bottom: 2px solid $border-color;
                position: relative;

                span {
                    background-color: white;
                    position: relative;
                    top: 10px;
                    padding: 0 10px;
                }
            }
        }

        .title {
            font-size: 2.4rem;
            font-weight: bold;
            color: $primary-color;
            margin-bottom: 2rem;
        }

        .desc {
            font-size: 1.6rem;
            margin-bottom: 2rem;
        }

        .error {
            text-align: left;
            color: red;
            font-weight: 700;
            height: 2rem;
        }
    }

    .footer {
        text-align: center;
        width: 100%;
        max-width: 46rem;
        margin: 0rem auto;

        .footerText {
            text-decoration: none;
        }
    }
}