@import '/src/variables';

.content {
    padding: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    overflow: overlay;
    height: 57rem;
}

.content::-webkit-scrollbar {
    display: none;
}