@import '/src/variables';

.wrapper {}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: $primary-color;
}

.submitBtn {
    padding: 3px 5px;
    border-radius: 15px;
    border-color: $primary-color;
    color: $primary-color;
    border-width: 1px;
    background-color: transparent;
}

.submitBtn:hover {
    padding: 2px 4px;
    border-width: 2px;
}

.dropdownToggle {
    position: relative;
    margin-left: 1rem;
    border: none;
    width: 2rem;
    height: 3rem;
    background-color: transparent;
    border-radius: 100px;
    margin-right: 6rem;
    margin-top: 3rem;

    .ellipsis {
        font-size: 2rem;
    }

    .dropdownMenu {
        margin-top: 1rem;
        position: absolute;
        right: 0;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 1rem;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        border-radius: 5px;

        .dropdownItem {
            display: block;
            text-decoration: none;
            color: black;
        }
    }

}