@import '/src/variables';

.tab {
    border: 0px solid $primary-color;
    background-color: transparent;
    padding: 5px 0px 5px 20px;
    margin: 1rem 0rem;
    text-decoration: none;
}

.tab:hover {
    padding: 5px 0px 5px 17px;
    border-left-width: 3px;
    border-left-color: $primary-color;
    background-color: $background-color;
}

.content {
    text-align: left;
}

.logo {
    width: 5rem;
    height: 5rem;
    border: 1px solid $primary-color;
    border-radius: 5rem;
    margin-top: 1rem;
    background-image: url('../../../../../public/images/avatar.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.transactionName {
    font-size: 2rem;
    font-weight: bold;
    color: $primary-color;
}

.transactionDate {
    font-size: 1.5rem;
}

.transactionStatus {
    font-size: 1.5rem;
    font-weight: bold;
}

.price {
    font-size: 2rem;
    font-weight: bold;
}