@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import '/src/variables';

:root {}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Nunito', sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
	text-rendering: optimizeSpeed;
	overflow: overlay;
	overflow-x: hidden;
}

#nav .active {
	background-color: rgba(255, 255, 255, 0.1);
}

#nav-transaction .active {
	border-bottom: 2px solid $primary-color;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.error {
	color: red;
}